# Dataset ignored because its too large to push and can't publicly be available without the original authers' consent.
AI & Models/Datasets/

# Ignoring models and processed data because they have large file sizes.

AI & Models/Video/Saved Processed Data and Models/
AI & Models/Video/Failed Attempts

AI & Models/Text/Saved Models/
AI & Models/Text/Glove

AI & Models/Audio/Saved Processed Data and Models/

AI & Models/Signals/Saved Models/
AI & Models/Signals/Facial Features Court Trial/
AI & Models/Signals/Feature Vectors Court Trial/

AI & Models/Multimodal/Pretrained Models/
AI & Models/Multimodal/AH Trial/
AI & Models/Multimodal/Court Trial Test Set/

