# Dataset ignored because its too large to push and can't publicly be available without the original authers' consent.
AI & Models/Datasets/

# Ignoring models and processed data because they have large file sizes.

# Video
AI & Models/Video/Saved Processed Data and Models/
AI & Models/Video/Failed Attempts/

# Text
AI & Models/Text/Saved Models/
AI & Models/Text/Glove/

# Audio
AI & Models/Audio/Saved Processed Data and Models/

# Signals
AI & Models/Signals/Saved Models/
AI & Models/Signals/Facial Features Court Trial/
AI & Models/Signals/Feature Vectors Court Trial/
AI & Models/Signals/Failed Attempts/

# Multimodal
AI & Models/Multimodal/Pretrained Models/Video CNN_3D 0.61 Lss 87.50 Acc.h5
AI & Models/Multimodal/AH Trial/
AI & Models/Multimodal/Court Trial Test Set/
AI & Models/Multimodal/Failed Attempts/
AI & Models/Multimodal/Early Fusion/

# Web app
Web App/Backend/TruthFinder/api/Pretrained Models/
Web App/Backend/TruthFinder/uploaded videos/